@tailwind base;
@tailwind components;
@tailwind utilities;

.check-icon ul {
  list-style: none; /* Премахва вградените булети */
}

.check-icon li::before {
  content: "\2713"; /* Unicode символ за отбелязване на отметка */

  color: green; /* Цвят на иконата */
  margin-right: 0.5rem; /* Разтояние между иконата и текста */
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.animate-slide-in {
  animation: slideInFromBottom 0.5s forwards;
}

.animate-slide-out {
  animation: slideOutToBottom 0.5s forwards;
}
/* Slide in from the top */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide in from the right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(1%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide in from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide out to the top */
@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Slide out to the right */
@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Slide out to the left */
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Fade out */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

/* Slide in from the top */
.slide-in-from-top {
  animation: slideInFromTop 0.5s ease-out forwards;
}

/* Slide in from the right */
.slide-in-from-right {
  animation: slideInFromRight 0.5s ease-out forwards;
}

/* Slide in from the left */
.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

/* Fade in */
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Slide out to the top */
.slide-out-to-top {
  animation: slideOutToTop 0.5s ease-out forwards;
}

/* Slide out to the right */
.slide-out-to-right {
  animation: slideOutToRight 0.5s ease-out forwards;
}

/* Slide out to the left */
.slide-out-to-left {
  animation: slideOutToLeft 0.5s ease-out forwards;
}

/* Fade out */
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

#nav-icon3 {
  width: 50px;
  position: absolute;
  top: 40px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: rgb(131, 179, 245);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
  width: 30px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
